ODTTicketToCSV/chemin.txt
ODTTicketToCSV/ODTTicketToCSV.csproj
ODTTicketToCSV/ODTTicketToCSV.sln
ODTTicketToCSV/.vs/ODTTicketToCSV/DesignTimeBuild/.dtbcache.v2
ODTTicketToCSV/.vs/ODTTicketToCSV/FileContentIndex/0f5dc8cb-d443-4c74-994f-11a77cdad754.vsidx
ODTTicketToCSV/.vs/ODTTicketToCSV/FileContentIndex/1f12e782-75ad-4328-8ef2-b7c119cf9399.vsidx
ODTTicketToCSV/.vs/ODTTicketToCSV/FileContentIndex/57ceeffc-bae6-4960-b22d-ff9fe2197029.vsidx
ODTTicketToCSV/.vs/ODTTicketToCSV/FileContentIndex/6e97802b-a712-410f-862c-f5d48c158245.vsidx
ODTTicketToCSV/.vs/ODTTicketToCSV/FileContentIndex/f2a955ad-d598-4247-8a11-50b15a829450.vsidx
ODTTicketToCSV/.vs/ODTTicketToCSV/v17/.futdcache.v2
ODTTicketToCSV/.vs/ODTTicketToCSV/v17/.suo
ODTTicketToCSV/.vs/ODTTicketToCSV/v17/DocumentLayout.json
ODTTicketToCSV/.vs/ProjectEvaluation/odttickettocsv.metadata.v7.bin
ODTTicketToCSV/.vs/ProjectEvaluation/odttickettocsv.projects.v7.bin
ODTTicketToCSV/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
ODTTicketToCSV/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
ODTTicketToCSV/bin/Debug/net8.0/ODTTicketToCSV.deps.json
ODTTicketToCSV/bin/Debug/net8.0/ODTTicketToCSV.dll
ODTTicketToCSV/bin/Debug/net8.0/ODTTicketToCSV.exe
ODTTicketToCSV/bin/Debug/net8.0/ODTTicketToCSV.pdb
ODTTicketToCSV/bin/Debug/net8.0/ODTTicketToCSV.runtimeconfig.json
ODTTicketToCSV/bin/Debug/net8.0/System.IO.Packaging.dll
ODTTicketToCSV/obj/ODTTicketToCSV.csproj.nuget.dgspec.json
ODTTicketToCSV/obj/ODTTicketToCSV.csproj.nuget.g.props
ODTTicketToCSV/obj/ODTTicketToCSV.csproj.nuget.g.targets
ODTTicketToCSV/obj/project.assets.json
ODTTicketToCSV/obj/project.nuget.cache
ODTTicketToCSV/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ODTTicketToCSV/obj/Debug/net8.0/apphost.exe
ODTTicketToCSV/obj/Debug/net8.0/ODTTicke.C7D177EC.Up2Date
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.AssemblyInfo.cs
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.AssemblyInfoInputs.cache
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.assets.cache
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.csproj.AssemblyReference.cache
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.csproj.BuildWithSkipAnalyzers
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.csproj.CoreCompileInputs.cache
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.csproj.FileListAbsolute.txt
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.dll
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.GeneratedMSBuildEditorConfig.editorconfig
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.genruntimeconfig.cache
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.GlobalUsings.g.cs
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.pdb
ODTTicketToCSV/obj/Debug/net8.0/ODTTicketToCSV.sourcelink.json
ODTTicketToCSV/obj/Debug/net8.0/ref/ODTTicketToCSV.dll
ODTTicketToCSV/obj/Debug/net8.0/refint/ODTTicketToCSV.dll
Remplissage_BDD/ODTTicketToCSV/bin/
Remplissage_BDD/ODTTicketToCSV/.vs/
Remplissage_BDD/ODTTicketToCSV/obj/
